.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: fit-content;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    padding-top: 0px;
}

.container .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    border-bottom: 1px solid var(--text-color-light);
    margin-bottom: 1rem;
    margin-top: 0px;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container form input,
.container form textarea {
    width: 25vw;
    max-width: 400px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid var(--text-color-light);
    border-radius: 4px;
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
}

#imagePreviewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 1rem 0;
}

#imagePreviewContainer .image-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    padding: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#imagePreviewContainer .image-wrapper * {
    margin: 0 0.5rem;
}

#imagePreviewContainer .image-wrapper.main-image {
    background-color: var(--accent-primary);
}

#imagePreviewContainer img {
    max-width: 100px;
    max-height: 100px;
    margin: 0.5rem 0;
}

input[type="file"] {
    display: none;
}

.imageUploadLabel {
    background-color: var(--accent-primary);
    color: var(--text-color-light);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.addButton {
    background-color: var(--accent-primary);
    color: var(--text-color-light);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.cancelButton {
    color: var(--text-color-light);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
}