.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 50px;
   

}

.bannerImage{
    width: 100%;
    height: auto;
}

.titleVilla {
    text-align: center;
    color: #E9ECEF;
  }

  .placeholder {
    display: flex;
    padding: 20px;
    gap: 10%;
    justify-content: center;
  }

  .blok {
    background-color: #34495e;
    width: 30%;
    height: 250px;
    background-color: var(--primary-color);
  }

  .titleInfo {
    text-align: center;
    color: #E9ECEF;
  }

  .InfoContainer{
    display: flex;
    padding: 20px;
    gap: 10%;
    justify-content: center;
   
  }

  .block{
    background-color: var(--primary-color);
    width: 45rem;
    height: 250px;
   color: #E9ECEF;
   height: auto;
  }

  .InfoText{
    margin-left: 1rem;
    font-weight: bold;
  }

  @media (max-width: 625px) {
    .InfoContainer{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 50px;
        justify-content: center;
    }

    .block{
        display: flex;
        flex-direction: column;
        width: auto;
      }

     .blok{
        display: flex;
        flex-direction: column;
        width: auto;
     }

     .placeholder {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 50px;
        justify-content: center;
      }
}