.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 50px;
}

.bannerImage{
    width: 100%;
    height: auto;
}

.titleVilla {
    text-align: center;
    color: var( --text-color-light);
  }

  .placeholder {
    display: flex;
    padding: 20px;
    gap: 10%;
    justify-content: center;
  }

  .placeholderBlock {
    background-color: #34495e;
    width: 30%;
    height: 250px;
    background-color: var(--primary-color);
  }

  .titleInfo {
    text-align: center;
    color: var( --text-color-light);
  }

  .infoContainer{
    display: flex;
    padding: 20px;
    gap: 10%;
    justify-content: center;
   }

  .infoContainerBlock{
    background-color: var(--primary-color);
    width: 45rem;
    height: 250px;
    color: var( --text-color-light);
    height: auto;
  }

  .infoText{
    margin-left: 1rem;
    font-weight: bold;
  }

  @media (max-width: 625px) {
    .infoContainer{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 50px;
        justify-content: center;
    }

    .block{
        display: flex;
        flex-direction: column;
        width: auto;
      }

     .blok{
        display: flex;
        flex-direction: column;
        width: auto;
     }

     .placeholder {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 50px;
        justify-content: center;
      }
}